* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-details {
    padding: 10px;
    margin: 10px;
    border: 1px dotted brown;
    height: 100%;
    width: 50%;
    text-align: center;
    left: 50%;
    top: 50%;
}

.title {
    text-align: center;
}

.flextype {
    display: flex;
    justify-content: space-between;
}

.contain-section {
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
}

.right {}